{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load static %}

{% block style %} 	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
{% endblock %}


{% block content %}
    
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 style="margin-bottom: 10px;">Change Password</h3>
                <p class="forgot_password_info" style="color: white;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
                    {% csrf_token %}
                    {% include 'includes/form_base.html' %}

                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn float-right login_btn" style="width:auto">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>

{% endblock %}
