{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}


{% block style %} 	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 70px;">

	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Set Password</h3>
                
            </div>
            <div class="card-body">
                <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {% include 'includes/form_base.html' %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-group">
                        <input type="submit" value="Set Password" class="btn float-right login_btn" style="width: auto;">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
<!-- 
    <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-primary btn-lg" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form> -->
    </div>
{% endblock %}
