{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block style %} 	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block heading %} {% if token_fail %}{% trans "Bad Token" %}{% endif %} {% endblock %}


{% block content %}
<div class="container" >
    
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 style="margin-bottom: 10px;">Reset Password</h3>
                        
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {% include 'includes/form_base.html' %}
        
                            <div class="form-group">
                                <input type="submit" value="Reset Password" class="btn float-right login_btn" style="width:auto">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                    
                    </div>
                </div>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
