{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}



{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block pageheader %}
{% endblock %}

{% block outer %}

        
    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}
        {% block content %} {% endblock %}
    
    {% else %}

        
<div class="page-header header-filter" style="background-image: url('{% static 'img/bg7.jpg' %}'); background-size: cover; background-position: top center; height:auto;">

   
  
  
    <div class="container" style="margin-top:200px;margin-bottom:100px;"> 
      {% if messages %}
        <div style="margin-bottom: 30px;">
            {% for message in messages %}
            <div class="row" >
                
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="alert alert-info">
                        <div class="container">
                        <div class="alert-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>{{ message }}</b>
                        </div>
                    </div>
                </div>
                    
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
            <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <div class="card-header card-header-primary text-center">
                    
                    <h4 class="card-title">Reset Password</h4>
           
                    </div>
            <p class="description text-center" style="padding-left:20px; padding-right:20px">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %} 
                <p class="description text-center" style="color:red;padding-left:20px; padding-right:20px">
                    {{ error }}
                </p>
                {% endfor %}
            {% endif %}
    
    
            <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
               
                    
                    <div class="card-body">
                        {% csrf_token %}
                        {% include 'includes/form_base.html' %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                
                
                    </div>
                    <div class="footer text-center" style="margin-top:20px;">
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-round">
                    </div>
                    <p style="margin-bottom:20px;">Please contact us if you have any trouble resetting your password.<br>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    
    </div>

       
        <!-- <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
        <p class="forgot_password_info" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-primary " type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->

    {% endif %}

{% endblock %}
