{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block bgimage %} {% static 'img/iitj.jfif' %} {% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            <h1>Change Password</h1>
            <p style="font-size:large;">Your password is now changed.</p>
            <a href="/accounts/login" class="primary-btn blue">Login</a>
        </div>
    </div>
{% endblock %}
