{% extends "account/info_base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block heading %} PROMETEO {% endblock %}

{% block pageheader %} {% endblock %}
{% block infocontent %}

   <h3 class="h3" id="head_banner">{% trans "Password Reset Email Sent." %}</h3>
    
   {% if user.is_authenticated %}
	   {% include "account/snippets/already_logged_in.html" %}
	   {% block content_extra %} {% endblock %}
	  {% else %}
		   <p class="forgot_password_info">We have sent you an e-mail. If it is not visible in inbox, CHECK YOUR SPAM. Please contact us if you do not receive it within a few minutes. <br> You will be redirected to <a href="/accounts/login">Sign In</a> page in 10 seconds.</p>
		   <script>
			   setTimeout("location.href = '{% url 'account_login' %}';",10000);
	   </script>
   {% endif %}

{% endblock %}

