{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block style %} 	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content_extra %}

        
    {% if user.is_authenticated %}
    
        {% include "account/snippets/already_logged_in.html" %}
        {% block content %} {% endblock %}
    
    {% else %}

        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 style="margin-bottom: 10px;">Reset Password</h3>
                    <p class="forgot_password_info" style="color: white;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    
                </div>
                <div class="card-body">
                    <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {% include 'includes/form_base.html' %}
    
                        <div class="form-group">
                            <input type="submit" value="Reset Password" class="btn float-right login_btn" style="width:auto">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links" style="text-align: center;">
                        Please contact us if you have any trouble resetting your password.
                    </div>
                </div>
            </div>
        </div>

        <!-- <h3 class="h3" id="head_banner">{% trans "Password Reset" %}</h3>
        <p class="forgot_password_info" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-primary " type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->

    {% endif %}

{% endblock %}
