#particle-div canvas {
    position:absolute;
}

.event-name {
    margin:0px;
}

.countdown-timer {
    padding:0px 40px 0px 40px; 
    margin-top:0px;
}

.col-timer {
    padding:0px 4px 0px 4px;
}

.col-timer .card .card-body {
    padding: 3px;
}

.section-contacts {
    background: #00032d;
    padding:35px 0px 50px 0px;
}

.brand h3 {
    font-family: 'Titillium Web', sans-serif;
    margin-top: 20px;
}

.brand div h3 {
    font-family: 'Barlow Condensed', sans-serif;
    display:inline-block;
    margin-top: 0px;
}

/* #un-btn {
    margin-top:25px;
    border-color: white;
    color:white;
    font-size:20px;
}


@media only screen and (max-width:430px)
    #un-btn {
        font-size: 30vw;
    }
} */

@media only screen and (max-width: 768px) {
    .section-contacts {
        background: #00032d;
        padding:35px 30px 50px 30px;
    }
}


@media only screen and (max-width: 530px) {
    .index-page .brand h1 {
        font-size:12vw;
    }
    .countdown-timer {
        padding:0px 15px 0px 15px; 
        margin-top:0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .countdown-timer {
        padding:0px 120px 0px 120px; 
        margin-top:0px;
    }
}