{% load widget_tweaks %}



{% for field in form %}

<!-- <p> {{field.name}} </p> -->
<!-- 
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="material-icons">face</i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="First Name...">
</div> -->


<div class="input-group">
  {% if field.name == 'remember' %}
  <div class="form-check" style="padding-top:0px;">
    <label class="form-check-label">
      <!-- <input class="form-check-input" type="checkbox" value=""> Unchecked -->
      {% render_field field class="form-check-input" %} Remember Me
      <span class="form-check-sign">
        <span class="check"></span>
      </span>
    </label>
  </div>
    <!-- <div class="row align-items-center remember">
        {% render_field field %} Remember Me
    </div> -->
  {% elif form.is_bound %}
    <div class="input-group-prepend">
      {% if field.name == 'email' %}
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      {% elif field.name == 'username'  or field.name == 'login' %}
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      {% else %}
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      {% endif %}
    </div>
    {% if field.errors %}

      {% render_field field class="form-control is-invalid" placeholder=field.label %}
      {% for error in field.errors %}
        <div class="invalid-feedback" style="text-align:left;margin-left:46px;">
          {{ error }}
        </div>
      {% endfor %}

    {% else %}
      {% if field.name == 'password1' or field.name == 'password2' or field.name == 'password' or form.non_field_errors %}
        {% render_field field class="form-control" placeholder=field.label %}
      {% else %}
        {% render_field field class="form-control is-valid" placeholder=field.label %}
      {% endif %}
    {% endif %}
  {% else %}
    <div class="input-group-prepend">
      {% if field.name == 'email' %}
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
      {% elif field.name == 'username' or field.name == 'login' %}
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      {% else %}
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      {% endif %}
    </div>
    {% render_field field class="form-control" placeholder=field.label %}
  {% endif %}

  <!-- <p style="color:white" >{{ field.errors }}</p>
              <p style="color: white;">{{ field.help_text }}</p> -->
</div>
{% endfor %}

