{% load widget_tweaks %}



{% for field in form %}

<!-- <p> {{field.name}} </p> -->
<!-- 
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="material-icons">face</i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="First Name...">
</div> -->


<div class="input-group">
<!-- {% if field.name == 'gender' %}
<p style="display: block;">Gender</p><br>
{% endif %}
{% if field.name == 'current_year' %}
<p>Current Year of Study</p><br>
{% endif %} -->

  {% if field.name == 'remember' %}
  <div class="form-check" style="padding-top:0px;">
    <label class="form-check-label">
      <!-- <input class="form-check-input" type="checkbox" value=""> Unchecked -->
      {% render_field field class="form-check-input" %} Remember Me
      <span class="form-check-sign">
        <span class="check"></span>
      </span>
    </label>
  </div>
  {% elif field.name == 'ambassador' %}
  <div class="form-check" style="padding-top:0px;">
    <label class="form-check-label">
      <!-- <input class="form-check-input" type="checkbox" value=""> Unchecked -->
      {% render_field field class="form-check-input" %} Do you want to become a Campus Ambassador? If you check this box, you will receive an invite referral code which you can share with your friends to get exciting benefits. Your friends should use the code to signup.
      
      <span class="form-check-sign">
        <span class="check"></span>
      </span>
    </label>
  </div>
    <!-- <div class="row align-items-center remember">
        {% render_field field %} Remember Me
    </div> -->
  {% elif form.is_bound %}
    <div class="input-group-prepend">
      {% if field.name == 'email' %}
        <span class="input-group-text"><i class="material-icons">email</i></span>
      {% elif field.name == 'username' or field.name == 'login' %}
        <span class="input-group-text"><i class="material-icons">account_circle</i></span>
      {% elif field.name == 'name' %}
        <span class="input-group-text"><i class="material-icons">group</i></span>
      {% elif field.name == 'teamId' %}
        <span class="input-group-text"><i class="material-icons">group_add</i></span>
      {% elif field.name == 'first_name' or field.name == 'last_name' %}
        <span class="input-group-text"><i class="material-icons">face</i></span>
      {% elif field.name == 'city' %}
      <span class="input-group-text"><i class="material-icons">my_location</i></span>
      {% elif field.name == 'college' %}
      <span class="input-group-text"><i class="material-icons">location_city</i></span>
      {% elif field.name == 'join_referral' %}
      <span class="input-group-text"><i class="material-icons">code</i></span>
      {% elif field.name == 'gender' %}
      <span class="input-group-text"><i class="material-icons">wc</i></span>
      {% elif field.name == 'contact' %}
      <span class="input-group-text"><i class="material-icons">contact_phone</i></span>
      {% elif field.name == 'current_year' %}
      <span class="input-group-text"><i class="material-icons">school</i></span>
      {% else %}
        <span class="input-group-text"><i class="material-icons">lock_outline</i></span>
      {% endif %}
    </div>
    {% if field.errors %}

      {% render_field field class="form-control is-invalid" placeholder=field.label %}
      {% for error in field.errors %}
        <div class="invalid-feedback" style="text-align:left;margin-left:56px;">
          {{ error }}
        </div>
      {% endfor %}

    {% else %}
      {% if field.name == 'password1' or field.name == 'password2' or field.name == 'password' or form.non_field_errors %}
        {% render_field field class="form-control" placeholder=field.label %}
      {% else %}
        {% render_field field class="form-control is-valid" placeholder=field.label %}
      {% endif %}
    {% endif %}
  {% else %}
    <div class="input-group-prepend">
      {% if field.name == 'email' %}
        <span class="input-group-text"><i class="material-icons">email</i></span>
      {% elif field.name == 'username' or field.name == 'login' %}
        <span class="input-group-text"><i class="material-icons">account_circle</i></span>
      {% elif field.name == 'name' %}
        <span class="input-group-text"><i class="material-icons">group</i></span>
      {% elif field.name == 'teamId' %}
        <span class="input-group-text"><i class="material-icons">group_add</i></span>
      {% elif field.name == 'first_name' or field.name == 'last_name' %}
        <span class="input-group-text"><i class="material-icons">face</i></span>
      {% elif field.name == 'city' %}
      <span class="input-group-text"><i class="material-icons">my_location</i></span>
      {% elif field.name == 'college' %}
      <span class="input-group-text"><i class="material-icons">location_city</i></span>
      {% elif field.name == 'join_referral' %}
      <span class="input-group-text"><i class="material-icons">code</i></span>
      {% elif field.name == 'gender' %}
      <span class="input-group-text"><i class="material-icons">wc</i></span>
      {% elif field.name == 'contact' %}
      <span class="input-group-text"><i class="material-icons">contact_phone</i></span>
      {% elif field.name == 'current_year' %}
      <span class="input-group-text"><i class="material-icons">school</i></span>
      {% else %}
        <span class="input-group-text"><i class="material-icons">lock_outline</i></span>
      {% endif %}
    </div>
    {% render_field field class="form-control" placeholder=field.label %}
  {% endif %}

  <!-- <p style="color:white" >{{ field.errors }}</p>
              <p style="color: white;">{{ field.help_text }}</p> -->
</div>
{% endfor %}

