{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Summit Conference Template">
    <meta name="keywords" content="The Summit Conference, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Summit Confference | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row bg-overlay">
                <div class="header">
                    <div class="col-lg-12">
                        <div class="logo">
                            <a href="./index.html"><img src="{% static "img/logo.png" %}"  width="89" height="108"  align="top" alt=""></a>
                        </div>
                        <div class="navigation mobile-menu">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="./index.html">Home</a></li>
                                        <li><a href="./speakers.html">Speakers</a></li>
                                        <li><a class="active" href="./events.html">Events</a></li>
                                        <li><a href="./informals.html">Informals</a></li>
                                        <li><a href="./workshops.html">Workshops</a></li>
                                        <li><a href="./symposium.html">Symposium</a></li>
                                        <li><a href="./sponsors.html">Sponsors</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Area Begin -->
    <div class="hero-area set-bg" data-setbg="{% static "img/event.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <h2 align="center">TECHNICAL EVENTS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->

    <!-- Blog Area Begin -->
    <section class="blog-section spad">
        <div class="blog-items">
            <div class="container">
                <div class="row">
                    {% for event in events %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a href="balsa.html" class="event-btn">
                                <img src="{{ event.image.url }}" height="166" width="360" alt=""></a>
                            </div>
                            <div class="blog-details">
                                <span>{{ event.date }}</span>
                                <h4><a href="balsa.html" class="event-btn">{{ event.name }}</a></h4>
                                <p>{{ event.description }}</p>
                                <a href="#" class="read-btn">REGISTER</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

    <!-- Footer Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row pb-70">
                <div class="col-lg-4 col-md-6">
                    <div class="event-widget">
                        <h4>Our Events</h4>
                        <ul>
                            <li>IGNUS 2020</li>
                            <li>VARCHAS 2020</li>
                            <li>AAFTAAB 2019</li>
                            <li>VIRAASAT 2020</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="links-widget">
                        <h4>Usefull Links</h4>
                        <a href="#">REGISTER</a><br><br>
                        <a href="team.html">TEAM</a><br><br>
                        <a href="contact.html">Contact Us </a><br><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="contact-widget">
                        <a href="contact.html"><h4>Contact</h4></a>
                        <ul>
                            <li><i class="flaticon-placeholder-3"></i> <span>IIT Jodhpur, NH-65, Karwar, Rajasthan-342037</span></li>
                            <li><img src="{% static "img/phone.png" %}" alt=""> <span>9913212919</span></li>
                            <li><img src="{% static "img/envelop.png" %}" alt=""> <span>patel.5@iitj.ac.in</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!--                            <div class="copyright">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
                            <!--                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Devlup Labs,IIT Jodhpur-->
                            <!--                            </div>-->
                            <div class="footer-social" align="center">
                                <a href="https://www.iitj.ac.in/"><i class="fa fa-google"></i></a>
                                <a href="https://www.facebook.com/sts.iitj/"><i class="fa fa-facebook"></i></a>
                                <a href="mailto:patel.5@iitj.ac.in"><i class="fa fa-envelope"></i></a>
                                <a href="https://github.com/KD-3/prometeo"><i class="fa fa-github"></i></a>
                                <a href="https://www.instagram.com/prometeo.iitj/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    
    <!-- Js Plugins -->
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/circle-progress.min.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>

</html>