{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}



{% block head_links %} 

<title>{{ event.name }} - {{ event.type }} Event</title>

{% endblock %}


{% block head_title %}{{ event.name }} - {{ event.type }} Event{% endblock %}

{% block bodyclass %} login {% endblock %}

{% block pageheader %}
{% endblock %}

{% block outer %}

<div class="page-header header-filter" style="background-image: url('{% static 'img/bg7.jpg' %}'); background-size: cover; background-position: top center; height:auto;">
    <div class="container" style="margin-top:200px;margin-bottom:100px;"> 
      {% if messages %}
      <div style="margin-bottom: 30px;">
        {% for message in messages %}
          <div class="row" >
            
            <div class="col-lg-8 col-md-8 ml-auto mr-auto">
                  <div class="alert alert-info">
                      <div class="container">
                      <div class="alert-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                      </button>
                      <b>{{ message }}</b>
                      </div>
                  </div>
            </div>
                  
          </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="row">
        <div class="col-lg-8 col-md-8 ml-auto mr-auto">
            <div class="card text-center">
                <div class="card-header card-header-rose">
                    <h2 class="title">{{ event.name }}</h2>
                    {% if event.host %}
                    <h4 style="text-transform: capitalize; margin-bottom:20px">{{ event.type }} conducted by {{ event.host }}</h4>
                    {% else %}
                    <h4 style="text-transform: capitalize; margin-bottom:20px">{{ event.type }}</h4>
                    {% endif %}
                    
                  <ul class="nav nav-tabs">
                     
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0)" onclick="openTab(event, 'details')">Details</a>
                    </li>
                    {% if event.problem_statement %}
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'prob_stat')">Problem Statement</a>
                    </li>
                    {% endif %}
                    {% if event.description %}
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'description')">Description</a>
                    </li>
                    {% endif %}
                   
                    {% if event.rulebook %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ event.rulebook.url }}" download="{{ event.name }}">Rulebook</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if not user.is_superuser %}
                            {% if event.external_link %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ event.external_link }}">Register</a>
                            </li>
                            {% elif event.participation_type == 'team' %}
                                <li class="nav-item">
                                    {% if event in user.events.all %}
                                    <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#registeredModal">
                                        Already Registered
                                    </a>
                                    <!-- <a class="nav-link" href="javascript:void(0)">Already Registered</a> -->
                                    {% else %}
                                    <a class="nav-link" href="javascript:void(0)" onclick="openTab(event, 'register')">Register</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    {% if event in user.events.all %}
                                    <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#registeredModal">
                                        Already Registered
                                    </a>
                                    <!-- <a class="nav-link" href="javascript:void(0)">Already Registered</a> -->
                                    {% else %}
                                    <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#confirmModal">
                                      Register
                                  </a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% get_media_prefix %}workbooks/{{ wbname }}" download="{{ wbname }}">Registered Users</a>
                        </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login?next={% url 'event' event.type event.pk %}">Login To Register</a>
                        </li>
                    {% endif %}
                  </ul>
                </div>

                

                <div class="card-body" id="description" style="display:none; text-align:left">
                  <h4 class="card-title">Description</h4>
                  <p class="card-text">{{ event.description }}</p>
                  
                </div>
                <div class="card-body" id="prob_stat" style="display:none; text-align:left">
                  <h4 class="card-title">Problem Statement</h4>
                  <p class="card-text">{{ event.problem_statement }}</p>
                  
                </div>
                <div class="card-body" id="details" style="display:block; text-align:left">
                    <div class="row" style="margin-left:5%;">
                      <div class="col-lg-6 col-md-6">
                    {% if event.prize %}
                    <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                        <div class="icon icon-rose">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Prizes worth Rs. {{ event.prize }}</h4>
                        </div>
                     
                    </div>
                    {% endif %}
                    <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                        <div class="icon icon-rose">
                            {% if event.participation_type == 'team' %}
                            <i class="material-icons">account_circle</i>
                            {% else %}
                            <i class="material-icons">group_work</i>
                            {% endif %} 
                            
                        </div>
                        <div class="description">
                            <h4 class="info-title">Event Type</h4>
                            <p>
                                {% if event.participation_type == 'team' %}
                                Team Event (Team Size: {{ event.min_team_size }}-{{ event.max_team_size }})
                                {% else %}
                                Individual Event 
                                {% endif %} 
                            </p>
                            
                        </div>
                    </div>
                    <!-- <h4 class="card-title">Event Type</h4>
                    <p class="card-text">
                        {% if event.participation_type == 'team' %}
                        Team Event (Team Size: {{ event.min_team_size }}-{{ event.max_team_size }})
                        {% else %}
                        Individual Event 
                        {% endif %} 
                    </p> -->
                      
                    <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                        <div class="icon icon-rose">
                            <i class="material-icons">date_range</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Date</h4>
                            <p>{{ event.date }}</p>
                     
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <!-- <h4 class="card-title">Date</h4>
                    <p class="card-text">{{ event.date }}</p> -->
                    {% if event.time %}
                    <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                        <div class="icon icon-rose">
                            <i class="material-icons">access_time</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Time</h4>
                            <p>{{ event.time }}</p>
 
                        </div>
                    </div>
                    {% endif %}
                    {% if event.venue %}
                    <div class="info info-horizontal" style="padding-top:0px; padding-bottom:0px">
                        <div class="icon icon-rose">
                            <i class="material-icons">my_location</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Venue</h4>
                            <p>{{ event.venue }}</p>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                    </div>
                    
                    
                  </div>
                  <div class="card-body" id="register" style="display:none;">
                    <p class="card-text">This is a team event ({{ event.min_team_size }} to {{ event.max_team_size }} members). Create or join a team:</p>
                    <a href="{% url 'create_team' event.pk %}" class="btn btn-primary">Create Team</a>
                    <a href="{% url 'join_team' %}" class="btn btn-primary">Join a Team</a>
                  </div>
                 
              </div>
        </div>
      </div>
    </div>

</div>


<div class="modal fade" id="registeredModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You are already registered for this event.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'registered' %}" class="btn btn-primary">View Registered Events</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to register for {{ event.type }} event '{{ event.name }}'?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'register' event.pk %}" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %} <script src="{% static 'js/tabs.js' %}"></script> {% endblock %}