{% extends "base.html" %}
{% load static %}

{% block title %} {{ event.name }} - Register {% endblock %}

{% block bgimage %}
{% if event.image %}
    {{ event.image.url }} 
{% else %}
    {% static "img/event.jpg" %}
{% endif %}
{% endblock %}

{% block heading %} {{ event.name }} {% endblock %}

{% block outer %}

<!-- Tickets Price Area Begin -->
<section class="tickets-table-price spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12">
                <div class="tickets-table">
                    <div class="table-price text-center">
                        {% if event.host %}
                        <span>event.host</span>
                        {% endif %}
                        <span>{{ event.type }}</span>
                        <h2 class="table-title">{{ event.name }}</h2>
                    </div>
                    <div class="table-features">
                        <div class ="row">
                            <div class="col-lg-6 col-md-6 col-xs-6" align="center">
                                <ul>
                                    <li><img src="{% static "img/check.png" %}" alt=""> PROBLEM STATEMENT/DESCRIPTION
                                    <p>{{ event.description }}</p></li>
                                    <li><img src="{% static "img/check.png" %}" alt=""> EVENT TYPE:                             
                                        {% if event.participation_type == 'team' %}
                                        Team Event (Team Size: {{ event.min_team_size }}-{{ event.max_team_size }})
                                        {% else %}
                                        Individual Event 
                                        {% endif %}                      
                                    </li>
                                    
                                    <li><img src="{% static "img/check.png" %}" alt="">DATE: {{ event.date }}</li>
                                    {% if event.time %}
                                    <li><img src="{% static "img/check.png" %}" alt="">TIME: {{ event.time }}</li>
                                    {% endif %}
                                    {% if event.venue %}
                                    <li><img src="{% static "img/check.png" %}" alt=""> VENUE: {{ event.venue }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-xs-6" align="center">
                                <ul>
                                    {% if event.rulebook %}
                                    <li><a href="{{ event.rulebook.url }}" download="{{ event.name }}"><img src="{% static "img/download.png" %}" height="15" width="18" alt="">Download Rulebook</a></li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                    <li><a href="{% get_media_prefix %}workbooks/{{ wbname }}" download="{{ wbname }}"><img src="{% static "img/download.png" %}" height="15" width="18" alt="">Download Participants Excel Sheet</a></li>
                                    {% endif %}
                                    {% if event.prize %}
                                    <li><h3><img src="{% static "img/prize.png" %}" alt="" height="30" width="30"> Prizes worth Rs. {{ event.prize }}</h3></li>
                                    {% endif %}
                                
                                </ul>
                                
                                {% if user.is_authenticated %}
                                    {% if not user.is_superuser %}
                                        {% if event.participation_type == 'individual' %}
                                            {% if event in user.events.all %}
                                            <a href="{% url 'registered' %}" class="primary-btn buy-tickets">ALREADY REGISTERED</a>
                                            {% else %}
                                            <a href="{% url 'register' event.pk %}" class="primary-btn buy-tickets">REGISTER</a>
                                            {% endif %}
                                        {% else %}
                                            {% if team %}
                                            <a href="{% url 'registered' %}" class="primary-btn buy-tickets">ALREADY REGISTERED</a>
                                            {% else %}
                                            <a href="{% url 'create_team' event.pk %}" class="primary-btn buy-tickets">REGISTER</a>
                                            <br><br><a href="{% url 'join_team' %}" class="primary-btn buy-tickets">JOIN A TEAM</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a href="/accounts/login?next={% url 'event' event.type event.pk %}" class="primary-btn buy-tickets">LOGIN TO REGISTER</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tickets Price Area End -->

<!-- Hurry Up Begin -->
<section class="hurry-up set-bg spad" data-setbg="{% static "img/hurry-up-bg.jpg" %}">
    <div class="container" >
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>Hurry up, save your spot!</h2>
                <div class="countdown-timer" id="countdown-2">
                    <div class="cd-time">
                        <span>00</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-time">
                        <span>00</span>
                        <p>Hours</p>
                    </div>
                    <div class="cd-time">
                        <span>00</span>
                        <p>Minutes</p>
                    </div>
                    <div class="cd-time">
                        <span>00</span>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hurry Up End -->
{% endblock %}