{% extends "base.html" %}
{% load static %}
{% block title %} Events Info - {{ query_user.username }} {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'css/search-table-style.css' %}" type="text/css">{% endblock %}
{% block heading %} Events Info - {{ query_user.username }} {% endblock %}

{% block content %}
<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-3">
                <h5>Search All Fields</h5>
            </div>
            <div class="col-md-9">
                <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search all fields e.g. HTML">
                
            </div> 
        </div>
    </div>
    <div class="search-list">
        <h3>{{ query_user.events.count }} Records Found</h3>
        <div style="overflow: scroll;">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
                
            {% for event in query_user.events.all %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.participants.count }} <a href="{% url 'event' event.pk %}" style="float: right;">View</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                $(".search-list h3").html($("#myTable tbody tr:visible").length + " Records Found");
            });
        });
    });
</script>
{% endblock %}