{% extends "base.html" %}
{% load static %}


{% block title %} Industry Day {% endblock %}
{% block heading %}
    <h1 style="font-family: 'Calistoga', cursive; letter-spacing:2px;">Industry Day</h1>
{% endblock %}

{% block bgimage %} {% static "img/earthtech.jfif" %} {% endblock %}
{% block bodyclass %} index-page {% endblock %}
{% block content %}
    <div class="section section-contacts">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h2 class="title" style="font-family: 'Comfortaa', cursive;">Industry Day&nbsp<img
                        src="{% static 'img/iitj_logo.jfif' %}" style="width: 50px"></h2>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <h4 style="font-family: 'Comfortaa', cursive;">January 23-26, 2020</h4>
            <h4 style="font-family: 'Comfortaa', cursive;">Indian Institute of Technology, Jodhpur</h4>
        </div>
        <br>

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">About the Event</h3>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <p>IIT Jodhpur was established by the Ministry of Human Resource Development (MHRD), GoI, along with the
                other
                eight IITs during 2008. It is one of the second generation IIT. Responding to the changing trends in the
                industry, IIT Jodhpur has introduced new UG, PG, and research programs in Artificial Intelligence, Data
                Science, Cyber-Physical Systems, Sensors, and Internet of Things and Smart Manufacturing. The institute
                now
                promotes interdisciplinary research in emerging domains, including Space Technology, Internet of Things,
                Digital Humanities, Autonomous Unmanned Vehicles, Smart Health, and Quantum Computing. Special
                provisions
                have been created in the curriculum for enabling students (UG, PG, Ph. D) to pursue entrepreneurship or
                getting engaged in technology translation as part of their program. IIT Jodhpur is organizing its First
                <b>Industry Day on 24th January 2020</b> with an objective to establish close link industries with our
                academic and
                research programs. The full-day event plans to engage policymakers, scientists, industry experts, and
                entrepreneurs in meaningful discussions and formulate a way forward for stronger industry-academia
                linkages. </p>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Key Objectives</h3>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <ul>
                <li>Provide an avenue for potential collaboration opportunities between Industry and IIT Jodhpur.</li>
                <li>Create awareness about different research projects and resources of industry interest being
                    undertaken
                    by IITJodhpur.
                </li>
                <li>Platform to discuss the technological challenges industries are facing.</li>
                <li>Initiation of long term relationships with industries.</li>
            </ul>
        </div>
        <!-- <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Why Attend?</h3>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <ul>
                <li> Learn about IIT Jodhpur research and innovation ecosystem and benefit from the ecosystem</li>
                <li>Special sessions to learn about technological trends.</li>
                <li>To meet your potential collaborators, a potential hire.</li>
                <li>Networking Opportunities</li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Themes Of The Event</h3>
            </div>
        </div>

        <div class="col-md-10 ml-auto mr-auto">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Artificial Intelligence and Data Science</li>
                <br>
                <li class="list-group-item list-group-item-info">Industry 4.0</li>
                <br>
                <li class="list-group-item list-group-item-warning">Sustainable Technologies</li>
                <br>
                <li class="list-group-item list-group-item-danger">Smart Healthcare</li>
                <br>
                <li class="list-group-item list-group-item-success">Entrepreneurship</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">About the Speakers</h3>
            </div>
            <div class="col-md-4 ml-auto mr-auto">
                <br><br><br><br><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img
                    src="{% static 'img/sengupta.jpg' %}">
                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Dr.
                    Shubhashis Sengupta</b></p>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Dr. Shubhashis Sengupta</h3>
                <p>Dr. Shubhashis Sengupta is a Managing Director and Fellow of Accenture Technology Labs and head of AI
                    R&D at Accenture Technology Labs, Bangalore. He also leads Accenture Labs Co-Research program with
                    marquee clients. His area of specialization is around large scale
                    distributed systems, Software
                    Engineering, and AI-based (NLP and Machine Learning) systems. Prior to joining Accenture, he was
                    Oracle Corp and Infosys Technologies. Shubhashis has consulted extensively in multiple domains.
                    Dr Sengupta has over 50 journal and peer-reviewed conference papers, 25 granted patents and 35+
                    patent applications to his credit. He is a PhD in systems from Indian Institute of Calcutta
                    specializing in applying Artificial Intelligence algorithms on Combinatorial Optimization. He is a
                    Senior member of ACM and Senior Member of IEEE Computer Society. He is a founding member of AAAI
                    India chapter. He have been in the program committee and review board of several conferences and
                    journal including IEEE Spectrum and IEEE Transactions in Cloud Computing, Association of
                    Computational Linguistics etc.
                    Dr. Sengupta can be reached at shubhashis.sengupta@accenture.com </p>
            </div>
            <div class="col-md-4 ml-auto mr-auto">
                <br><br><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="{% static 'img/sonde.png' %}">
                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Dr.
                    R R Sonde </b></p>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;"> Dr. R R Sonde</h3>
                <p>Dr. Sonde joined the Thermax Management Council as Executive Vice President - Innovation & Technology
                    in 2007.

                    A Ph. D. from IIT, Mumbai, Dr. Sonde comes to Thermax after an illustrious 25-year career with the
                    Department of Atomic Energy.

                    He was awarded the Dr. Homi Bhabha Gold Medal by the Prime Minister in 2006, for his outstanding
                    contributions in the field of nuclear energy. A Member of the Department of Science & Technology's
                    Scientific Advisory committee, Dr. Sonde continues to serve as member on the IIT Senate Committee.
                    Since 2004, he had been heading the R&D and Energy Technologies Centre of NTPC.

                    At Thermax, Dr. Sonde is currently developing and nurturing the Research, Technology & Innovation
                    Center (RTIC).</p>
            </div>
        </div>

<!-- 
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Program Schedule</h3>
            </div>
        </div>

        <div class="col-md-10 ml-auto mr-auto">
            <ul>
                <li>10:00 :: Welcome Address and Opening Remark</li>
                <li>10: 30 :: Plenary Lecture
                </li>
                <li>11:30:: Panel Discussion (Parallel Sessions)</li>
                <li>13:00 :: Networking Lunch</li>
                <li>14:00 :: Session on Startups</li>
                <li>15:00 :: Poster Presentations/Demos</li>
                <li>18:00 :: Cultural Program/Networking Dinner</li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h3 class="title" style="font-family: 'Comfortaa', cursive;">Guidelines for the Poster Session</h3>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <p>Poster Symposium (to be held during Industry Day) is an excellent opportunity to network with industry and to present your 
                work to a large audience and receive valuable feedback. Please note these instructions carefully: </p>
            <!-- <h5 class="title" style="font-family: 'Comfortaa', cursive;">Poster Registration</h5>
            <p>The poster title, presenter and abstract (less than 200 words) must be submitted online at: <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfJypcUJg7POyAET5qD94Cja7HQ2M-2zGZX-6HQqxq5gViCCg/viewform?usp=sf_link">Poster
                Registration</a> by Tuesday, Jan 21, 2020.
            </p> -->
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h5 class="title" style="font-family: 'Comfortaa', cursive;">Poster Dimensions</h5>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <p>The poster must be in Portrait Orientation (Vertical) and can have a maximum size A0 (33.11 x 46.81 inches). An example is shown below: </p>
            <div class="row">
                <img src="{% static 'img/poster.png' %}" alt="industry day" style="width:300px; height: auto">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h5 class="title" style="font-family: 'Comfortaa', cursive;">Designing the Poster</h5>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">
            <p>Beginners can design their posters in MS PowerPoint by giving slide dimensions not exceeding A0 (33.11 x 46.81 inches).  </p>

            <p>The title of your poster should appear at the top with letters about 25 mm high. Below the title, put the author name(s) and affiliation(s). The flow of your poster should be from the top left to the bottom right. Use color for highlighting and to make your poster more attractive. Use pictures, diagrams, figures, etc., rather than text wherever possible. The smallest text on your poster should be at least 9 mm high, and the important points should be in a larger size. Use a sans-serif font to make the print easier to read from a distance. </p>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h5 class="title" style="font-family: 'Comfortaa', cursive;">During the Event (24 Jan 2020)</h5>
            </div>
        </div>
        <div class="col-md-10 ml-auto mr-auto">

            <p>Posters must be put up as early as possible prior to the start of the poster session in the designated space. Push pins will be available to mount the poster. </p>
                
               <p>Please prepare a 5-minute presentation of your work, concentrating on the key points, and be ready to interact with the audience that approaches your poster. You must remain present for the entire duration of the poster session.</p>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h5><b>For any queries, please contact:</b></h5>
                <h5>Poster Session Chair: Dr. Deepak Mishra (<a href="mailto:dmishra@iitj.ac.in">dmishra@iitj.ac.in</a>)<br>
                Student Coordinator: Naman Jindal (7619775640)</h5>
            </div>
        </div>
    </div>
{% endblock %}

