{% extends "base.html" %}
{% load static %}
{% block title %} Registered Events {% endblock %}
{% block bgimage %} {% static "img/event.jpg" %} {% endblock %}
{% block heading %} <h1 style="font-family: 'Calistoga', cursive; letter-spacing:2px;">Registered Events</h1> {% endblock %}
{% block content %}
<div class="section">
    <div class="row">
{% if user.is_authenticated %}
{% for category in categories %}
    <div class="container">
        <h3 class="pb-3 mb-4 border-bottom" style="text-transform:capitalize; font-weight:bold;font-family: 'Roboto', sans-serif;">
            {{ category }}
            <a href="javascript:void(0);" style="float:right" onclick="showType('{{ category }}')"><i class="material-icons">keyboard_arrow_down</i></a>
         </h3>
        <div class="row category" id="{{ category }}" style="display:none;">
            {% for event in events %}
                {% if event.type == category %}
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-3">
                        <a href="{% url 'event' event.type event.pk %}">
                        {% if event.image %}
                            <img src="{{ event.image.url }}" height="166" width="360" alt="" class="card-img-top">
                        {% else %}
                            <img src="{% static "img/event.jpg" %}" height="166" width="360" alt="" class="card-img-top">
                        {% endif %}
                        </a>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">{{ event.date }}</small></p>
                            <a href="{% url 'event' event.type event.pk %}"><h4 class="card-title">{{ event.name }}</h4></a>
                            <div style="overflow-y: scroll; height:150px; margin-top:10px; margin-bottom:10px;">
                                <p class="card-text">
                                    {{ event.description }}
                                </p>
                            </div>
                         
                            <a href="{% url 'event' event.type event.pk %}" class="btn btn-primary btn-round">VIEW INFO</a>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
{% endfor %}
{% endif %}
</div>
</div>

{% endblock %}
{% block scripts %} <script src="{% static 'js/collapse-section.js' %}"></script>" {% endblock %}