{% extends "base.html" %}
{% load static %}


{% block title %} Speakers {% endblock %}
{% block heading %} 
<h1 style="font-family: 'Calistoga', cursive; letter-spacing:2px;">Speakers</h1>
{% endblock %}

{% block bgimage %} {% static "img/event.jpg" %} {% endblock %}
{% block bodyclass %} index-page {% endblock %}
{% block content %}

<div class="section">
    <div class="row">
        {% if speakers.count == 0 %}
        <h1 class="title">Coming Soon!</h1>
        {% endif %}
        {% for speaker in speakers %}
        <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
                {% if speaker.profile_link %}
                <a href="{{ speaker.profile_link }}">
                {% endif %}
                {% if speaker.image %}
                    <img src="{{ speaker.image.url }}" alt="" class="card-img-top">
                {% else %}
                    <img src="{% static "img/event.jpg" %}" alt="" class="card-img-top">
                {% endif %}
                {% if speaker.profile_link %}
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">{{ speaker.date }}</small></p>
                    <h5 class="card-title" style="font-style:italic">{{ speaker.topic }}</h5>
                    {% if speaker.profile_link %}
                    <a href="{{ speaker.profile_link }}">
                    {% endif %}
                        <h4 class="card-title">{{ speaker.name }}</h4>
                    {% if speaker.profile_link %}
                    </a>
                    {% endif %}
                    {% if speaker.designation %}
                    <p class="card-text" style="line-height: 1.4;">{{ speaker.designation }}</p>
                    {% endif %}
                    
                    {% if speakers.description %}
                    <div style="overflow-y: scroll; height:150px; margin-top:10px; margin-bottom:10px;">
                        <p class="card-text">
                            {{ speaker.description }}
                        </p>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

