{% extends "base.html" %}
{% load static %}


{% block title %} Speakers {% endblock %}
{% block heading %} 
<h1 style="font-family: 'Calistoga', cursive; letter-spacing:2px;">Speakers</h1>
{% endblock %}

{% block bgimage %} {% static "img/event.jpg" %} {% endblock %}
{% block bodyclass %} index-page {% endblock %}
{% block content %}

<div class="section">
    <div class="row">
        <h1 class="title">Coming Soon!</h1>
        {% for speaker in speakers %}
        <div class="col-lg-4 col-md-6">
            <div class="card mb-3">
                <a href="{% url 'event' speaker.type speaker.pk %}">
                {% if speaker.image %}
                    <img src="{{ speaker.image.url }}" height="166" width="360" alt="" class="card-img-top">
                {% else %}
                    <img src="{% static "img/event.jpg" %}" height="166" width="360" alt="" class="card-img-top">
                {% endif %}
                </a>
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">{{ speaker.date }}</small></p>
                    <a href="{% url 'event' speaker.type speaker.pk %}"><h4 class="card-title">{{ speaker.name }}</h4></a>
                    <div style="overflow-y: scroll; height:150px; margin-top:10px; margin-bottom:10px;">
                        <p class="card-text">
                            {{ speaker.description }}
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

