{% extends "base.html" %}
{% load static %}
{% block title %} Sponsors {% endblock %}

{% block heading %} 
<h1 style="font-family: 'Calistoga', cursive; letter-spacing:2px;">Sponsors</h1>
{% endblock %}
{% block bgimage %} {% static 'img/users.jpg' %} {% endblock %}

{% block content %}
<div class="section text-center">
    <h1 class="title">Coming Soon!</h1>
    <div class="team">
      <div class="row">
  
        {% for sponsor in sponsors %}
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ sponsor.image.url }}" alt="Card image cap">
                <div class="card-body text-center">
                  <h3 class="title">{{ sponsor.name }}</h3>
                  {% if sponsor.type %}
                  <p>{{ sponsor.type }}</p>
                  {% endif %}
                </div>
              </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}

