{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} Events Info {% endblock %}

{% block content %}

<h1>All Events</h1>
<hr>
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Events Table</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <th>Event Name</th>
                    <th>Event Type</th>
                    <th>Participation Type</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Venue</th>
                    <th>Host</th>
                    <th>External Link</th>
                    <th>Participants</th>
                    <th>Registration</th>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td><a href="{% url 'event_info' event.type event.pk %}">{{ event.name }}</a></td>
                        <td style="text-transform: capitalize;">{{ event.type }}</td>
                        <td style="text-transform: capitalize;">{{ event.participation_type }}
                            {% if event.participation_type == 'team' %}
                            ({{ event.min_team_size }} to {{ event.max_team_size }} Members)
                            {% endif %}
                        </td>
                        <td>{% if event.date %} {{ event.date }} {% else %} NA {% endif %}</td>
                        <td>{% if event.time %} {{ event.time }} {% else %} NA {% endif %}</td>
                        <td>{% if event.venue %} {{ event.venue }} {% else %} NA {% endif %}</td>
                        <td>{% if event.host %} {{ event.host }} {% else %} NA {% endif %}</td>
                        <td>{% if event.external_link %} <a href="{{ event.external_link }}">{{ event.external_link }}</a> {% else %} NA {% endif %}</td>
                        <td>
                            {{ event.participants.all.count }}
                        </td>
                        <td>{% if event.registration_open %} Open {% else %} Closed {% endif %}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}