{% extends "dashboard/base.html" %}
{% load static %}
{% load get_dict_item %}
{% load widget_tweaks %}
{% block title %} Users Info {% endblock %}

{% block styles %}
<style>
    #id_events {
        padding-left:10px;
        list-style-type: none;
    }
    
</style>
{% endblock %}

{% block content %}
    <h1>Mass Mail</h1>
    <hr>
    <p>Select all events the participants of which you want to send email to:</p>
    <button type="button" class="btn btn-primary" onclick="selectAll()" style="margin-bottom: 20px;">Select All Events</button>
    <button type="button" class="btn btn-primary" onclick="deselectAll()" style="margin-bottom: 20px;">Deselect All Events</button>
    
    <!-- <form method="POST" action="{% url 'mass_mail' %}">
        {% csrf_token %}
        <h3>Technical Events</h3>
        <hr>
        {% for event in technical %}
        <div class="form-check" id="technical">
            <input type="checkbox" class="form-check-input" id="check{{ event.pk }}" name="check{{ event.pk }}" style="height:17px; width:17px;">
            <label class="form-check-label" for="exampleCheck1">{{ event.name }}</label>
        </div>
        {% endfor %}
        <h3 style="margin-top: 30px;">Informals</h3>
        <hr>
        {% for event in informal %}
        <div class="form-check" id="informal">
            <input type="checkbox" class="form-check-input" id="check{{ event.pk }}" name="check{{ event.pk }}" style="height:17px; width:17px;">
            <label class="form-check-label" for="check{{ event.pk }}">{{ event.name }}</label>
        </div>
        {% endfor %}
        <h3 style="margin-top: 30px;">Workshops</h3>
        <hr>
        {% for event in workshop %}
        <div class="form-check" id="workshop">
            <input type="checkbox" class="form-check-input" id="check{{ event.pk }}" name="check{{ event.pk }}" style="height:17px; width:17px;">
            <label class="form-check-label" for="check{{ event.pk }}">{{ event.name }}</label>
        </div>
        {% endfor %}
        <div class="form-group" style="margin-top: 30px;">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
        </div>
        <div class="form-group">
            <label for="message">Body/Message</label>
            <textarea class="form-control" id="message" name="message" rows="10"></textarea>
        </div>
        <input type="file" name="attachments"
        <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">Send</button>
    </form> -->
    <form method="POST" enctype="multipart/form-data" action="{% url 'mass_mail' %}">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'events' %}
        <div>
            <label>Events</label>
            {% if field.errors %}
                {% for error in field.errors %}
                <div style="color:red; margin-bottom:20px;">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {% render_field field style="height:19px; width:19px;" %}
        </div>
        
        {% else %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {% render_field field class="form-control"%}
            {% if field.errors %}
                {% for error in field.errors %}
                <div style="color:red">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Send" class="btn btn-primary" style="margin-bottom: 30px;">
    </form>
{% endblock %}

{% block scripts %}
<script>
    function selectAll() {
        var check_boxes = document.getElementsByName("events");
        for (var i = 0; i < check_boxes.length; i++) {
            check_boxes[i].checked = true;
        }
    }
    function deselectAll() {
        var check_boxes = document.getElementsByName("events");
        for (var i = 0; i < check_boxes.length; i++) {
            check_boxes[i].checked = false;
        }
    }
</script>

{% endblock %}